<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>leag.io</title>
    <style media="screen">
      body{
        margin: 0px;
      }
    </style>
  </head>
  <body>
    <canvas id="canvas" width="1600" height="1900"></canvas>
    <script src="/size.js"></script>
    <script src="/main.js"></script>
  </body>
</html>
