<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>leag.io</title>
    <link rel="stylesheet" href="/client/css/main.css">
  </head>
  <body>
    <div class="gameLog" style="/*display: none;*/">
      <div style="padding-top: 6px;">게임에 접속하지 못했습니다.</div>
    </div>
    <div class="boxes">
      <div class="gamePanelBorder">
        <div class="gamePanel">
          <input class="menuOption" type="text" placeholder="username" id="nameInput">
          <div class="gameBtns menuOption">
            <button type="button" class="btn greenBtn menuOption">start</button>
            <div class="gameRoom menuOption">
              <button type="button" class="btn blueBtn menuOption" style="margin: 0px; margin-right: 8px;">방 만들기</button>
              <button type="button" class="btn blueBtn menuOption" style="margin: 0px; margin-left: 8px;">참가하기</button>
            </div>
            <button type="button" class="btn defaultBtn menuOption">게임 방법</button>
          </div>
        </div>
      </div>
      <div class="gamePanelBorder">
        <div class="gamePanel">
          
        </div>
      </div>
    </div>
    <script src="/client/js/main.js"></script>
  </body>
</html>
